<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="ooo" onclick="c()" >gfg</button>
    <p id="ol" onclick="aa()" ></p>
    <button id="o" onclick="aa()" >close</button>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ascovxjkHzs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <iframe  width="560" height="315" src="https://www.youtube.com/embed/t0Q2otsqC4I?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    
   <h1><button onclick="bb()">sing in</button></h1>

   <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="YOUR_APP_KEY"></script>



    <script src="tstng.js" ></script>
</body>
</html> 